body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
}


.qr-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.project {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px hsla(219, 15%, 55%, 0.082);
}

div img {
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: 290px;
    height: 290px;
    background-color: white;
}

.main_text {
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.scan_text{
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}


@media (max-width:375px) {
    /* body {
        width: 50%;
    } */
    .project {
        margin-left:0% ;
        margin: 150px 0px 100px 0px;
    }
    .qr-card{
        width: 120%;
    }
    .attribution {
        position:fixed;
    }
}
